.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: growCircle 3s ease-in-out ;
    transform: (-50%, -50%);
}
@keyframes growCircle {
    0%{
        transform: scale(1) ;
        opacity: (1);
        font-size: 10px;
    }
    100%{
        transform: scale(2.5) ;
        opacity: (0);
        font-size: 30px;
    }
}